<%- include('includes/header.ejs')%>
</head>
<body>

<video autoplay loop muted class="vid">
    <source src="/videos/1393095054.mp4" type="video/mp4">
</video>

<div class="text">
   <h1>A<span style="color: red;">LOAN</span> CREDIT</h1>
   <h2 class="pla"><a href="/register">Get Started .....</a></h2>
</div>


    <%- include('includes/footer')%> 
</body>
</html>