<%- include('includes/header')%>
</head>
<body>
    <%- include('includes/nav')%>
<div class="container-fluid" id="home">
    <video autoplay loop muted class="vid">
        <source src="/videos/1393095054.mp4" type="video/mp4">
    </video>
    
    <div class="text">
        <h1 class="navbar-brand" href="#"><img src="/images/service_4.jpg" alt="" style="width: 30px; height:30px;"> A<span style="color: red;">loan</span> Credit</h1>
        <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;">Reliable And Fast.</h3>
        <a href="/register"><button class="btn" type="submit" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 35px;background-color: red;color: white;">How It Works <span>|</span><i class="fas fa-arrow-right"></i></button></a> 
    </div>   
</div>
<div class="container py-5 " id="about">
<div class="row justify-content-center">
<div class="col-lg-7 col-md-6 col-sm-11 cola my-3">
    <p style="color: red;">ABOUT COMPANY</p>
    <p class="p"><b>Small Business </b>Loans For A Daily Expenses</p>
    <span>Our loans are for short term use only and may not be the cheapest option.No cost or obligation to draw funds.
        Take only what you need, when you need it.Our borrowers save compared to their credit card rates.</span><br><br>
    <a href="/register" class="mt-4"><button class="btn py-2 px-4" type="submit" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 35px;background-color: red;color: white;">Discover More <span>|</span><i class="fas fa-arrow-right"></i></button></a> 
</div>
<div class="col-lg-5 col-md-6 col-sm-11 my-3">
  <div><img src="/images/img_abt1.jpg" alt="" style="width: 100%;height: 400px;"></div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row justify-content-center">
<div class="col-lg-3 col1">
<div>
<small style="color: white;">01</small>
<h3 style="color: white;">Baby And Adoption</h3>
<p style="color: white;">A new baby is such a treasure. But with the cost of life spiraling.</p>
</div>
</div>
<div class="col-lg-3 col2">
    <div>
    <small style="color: white;">02</small>
    <h3 style="color: white;">Home Improvement</h3>
    <p style="color: white;">Shower your home with a home improvement loan.</p>
    </div>
    </div>
    <div class="col-lg-3 col3">
        <div>
        <small style="color: white;">03</small>
        <h3 style="color: white;">Small Buisness</h3>
        <p style="color: white;">The best idea for the first time new business and enough time.</p>
        </div>
        </div>
        <div class="col-lg-3 col4">
            <div>
            <small style="color: white;">04</small>
            <h3 style="color: white;">Study Abroad</h3>
            <p style="color: white;">Student loans may be offered as part of a total package.</p>
            </div>
            </div>
</div>
</div>
<div class="container py-5" id="feauture">
    <p class="par">Our Features</p>
    <div class="row">
      <div class=" col-lg-3 col-md-6 col-sm-10 pars">
        <h1>Quick <br>Easy <br> Flexible</h1>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5">
        <div class="text-center"><img src="/images/service_1.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>Lower Rates</strong>
        <p>Predatory lending is a form of abuse in the granting of loan</p>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5">
        <div class="text-center"><img src="/images/service_2.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>Quick And Easy</strong>
        <p>The most typical payment type is fully amortizing payment.</p>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5" >
        <div class="text-center"><img src="/images/service_3.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>No Payment Penalty</strong>
        <p>A subsidized loan is reduced by a explicit or hidden subsidy.</p>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5">
        <div class="text-center"><img src="/images/service_5.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>5 Minutes Application</strong>
        <p>The duration of the loan period is much shorter to the use.</p>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5">
        <div class="text-center"><img src="/images/service_4.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>Secure Process</strong>
        <p>Unsecured loans are not secured against borrower's assets.</p>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5">
        <div class="text-center"><img src="/images/service_5.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>5 Minutes Application</strong>
        <p>The duration of the loan period is much shorter to the use.</p>
      </div>
      <div class=" col-lg-3 col-md-6 col-sm-10 text-center pa py-5" >
        <div class="text-center"><img src="/images/service_6.jpg" alt="" style="height: 50px;width: 50px;"></div>
        <strong>No Interest</strong>
        <p>Aloan Credit is a <span style="color: red;">No Interest Application</span>.</p>
      </div>
    </div>
</div>
<div class="container " id="contact">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
     <img src="/images/woman-5845646_640.jpg" alt="" style="width: 100%;height: 400px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 pt-4">
<p style="font-size: 50px;"><b>Contact</b> Info</p>
<p>Our customer service team are available weehday 8am to 10pm and weekends 9am t0 5pm</p>
 <div class="row">
 <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
  <h3>Address</h3>
  <p>No3,opposite neco office <br>Osogbo,Osun State</p>
 </div>
 <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
  <h3>Contact</h3>
  <p style="color: red;">+234-810-790-5908</p>
  <p style="color: red;">aminatayodeji6@gmail.com</p>
 </div>
 <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
  <h3>Working Hours</h3>
  <p >Weekdays: 10AM-8PM</p>
  <p >weekends:By appointment</p>
 </div>
 <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
  <h3>Socials</h3>
    <div class="ic">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
 </div>
 </div>
    </div>
  </div>
</div>
<div class="bot">
  <a href="#home"><i class="fas fa-arrow-up"></i> </a></div>
    <%- include('includes/footer')%> 
</body>
</html>
<!--  -->