<%- include('../includes/header.ejs')%>
</head>
<style>
 *{
  background-color:gainsboro;
 }
</style>
<body>
<div class="container-fluid">
  <div class="back">
  <img src="/images/404-drib23.gif" alt="">
  <p>Page Not Found</p>

  </div>
</div>

<%- include('../includes/footer.ejs')%>
</body>
</html>